/*****VARIABLES
Customize these as needed*****/
/**GRIDS**/
.teeny-g {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.teeny-g .row {
  max-width: 1600px;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.teeny-g .row-header {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.teeny-g .col {
  box-sizing: border-box;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 0px;
  min-width: 0px;
  min-height: 0px;
}
.teeny-g .col:last-child {
  margin-right: 0px;
}
.teeny-g .col-10 {
  width: calc(10% - 0px);
  max-width: calc(10% - 0px);
  min-width: calc(10% - 0px);
}
.teeny-g .col-20 {
  width: calc(20% - 0px);
  max-width: calc(20% - 0px);
  min-width: calc(20% - 0px);
}
.teeny-g .col-30 {
  width: calc(30% - 0px);
  max-width: calc(30% - 0px);
  min-width: calc(30% - 0px);
}
.teeny-g .col-40 {
  width: calc(40% - 0px);
  max-width: calc(40% - 0px);
  min-width: calc(40% - 0px);
}
.teeny-g .col-50 {
  width: calc(50% - 0px);
  max-width: calc(50% - 0px);
  min-width: calc(50% - 0px);
}
.teeny-g .col-60 {
  width: calc(60% - 0px);
  max-width: calc(60% - 0px);
  min-width: calc(60% - 0px);
}
.teeny-g .col-70 {
  width: calc(70% - 0px);
  max-width: calc(70% - 0px);
  min-width: calc(70% - 0px);
}
.teeny-g .col-80 {
  width: calc(80% - 0px);
  max-width: calc(80% - 0px);
  min-width: calc(80% - 0px);
}
.teeny-g .col-90 {
  width: calc(90% - 0px);
  max-width: calc(90% - 0px);
  min-width: calc(90% - 0px);
}
.teeny-g .col-100 {
  width: calc(100% - 0px);
  max-width: calc(100% - 0px);
  min-width: calc(100% - 0px);
}
.teeny-g .row-left {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.teeny-g .row-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.teeny-g .row-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media all and (max-width: 1300px) {
  .teeny-g .row .col-m-10 {
    width: calc(10% - 0px);
    max-width: calc(10% - 0px);
    min-width: calc(10% - 0px);
  }
  .teeny-g .row .col-m-20 {
    width: calc(20% - 0px);
    max-width: calc(20% - 0px);
    min-width: calc(20% - 0px);
  }
  .teeny-g .row .col-m-30 {
    width: calc(30% - 0px);
    max-width: calc(30% - 0px);
    min-width: calc(30% - 0px);
  }
  .teeny-g .row .col-m-40 {
    width: calc(40% - 0px);
    max-width: calc(40% - 0px);
    min-width: calc(40% - 0px);
  }
  .teeny-g .row .col-m-50 {
    width: calc(50% - 0px);
    max-width: calc(50% - 0px);
    min-width: calc(50% - 0px);
  }
  .teeny-g .row .col-m-60 {
    width: calc(60% - 0px);
    max-width: calc(60% - 0px);
    min-width: calc(60% - 0px);
  }
  .teeny-g .row .col-m-70 {
    width: calc(70% - 0px);
    max-width: calc(70% - 0px);
    min-width: calc(70% - 0px);
  }
  .teeny-g .row .col-m-80 {
    width: calc(80% - 0px);
    max-width: calc(80% - 0px);
    min-width: calc(80% - 0px);
  }
  .teeny-g .row .col-m-90 {
    width: calc(90% - 0px);
    max-width: calc(90% - 0px);
    min-width: calc(90% - 0px);
  }
  .teeny-g .row .col-m-100 {
    width: calc(100% - 0px);
    max-width: calc(100% - 0px);
    min-width: calc(100% - 0px);
  }
}
@media all and (max-width: 1000px) {
  .teeny-g .row .col-sm-10 {
    width: calc(10% - 0px);
    max-width: calc(10% - 0px);
    min-width: calc(10% - 0px);
  }
  .teeny-g .row .col-sm-20 {
    width: calc(20% - 0px);
    max-width: calc(20% - 0px);
    min-width: calc(20% - 0px);
  }
  .teeny-g .row .col-sm-30 {
    width: calc(30% - 0px);
    max-width: calc(30% - 0px);
    min-width: calc(30% - 0px);
  }
  .teeny-g .row .col-sm-40 {
    width: calc(40% - 0px);
    max-width: calc(40% - 0px);
    min-width: calc(40% - 0px);
  }
  .teeny-g .row .col-sm-50 {
    width: calc(50% - 0px);
    max-width: calc(50% - 0px);
    min-width: calc(50% - 0px);
  }
  .teeny-g .row .col-sm-60 {
    width: calc(60% - 0px);
    max-width: calc(60% - 0px);
    min-width: calc(60% - 0px);
  }
  .teeny-g .row .col-sm-70 {
    width: calc(70% - 0px);
    max-width: calc(70% - 0px);
    min-width: calc(70% - 0px);
  }
  .teeny-g .row .col-sm-80 {
    width: calc(80% - 0px);
    max-width: calc(80% - 0px);
    min-width: calc(80% - 0px);
  }
  .teeny-g .row .col-sm-90 {
    width: calc(90% - 0px);
    max-width: calc(90% - 0px);
    min-width: calc(90% - 0px);
  }
  .teeny-g .row .col-sm-100 {
    width: calc(100% - 0px);
    max-width: calc(100% - 0px);
    min-width: calc(100% - 0px);
  }
}
@media all and (max-width: 700px) {
  .teeny-g .row .col-xs-10 {
    width: calc(10% - 0px);
    max-width: calc(10% - 0px);
    min-width: calc(10% - 0px);
  }
  .teeny-g .row .col-xs-20 {
    width: calc(20% - 0px);
    max-width: calc(20% - 0px);
    min-width: calc(20% - 0px);
  }
  .teeny-g .row .col-xs-30 {
    width: calc(30% - 0px);
    max-width: calc(30% - 0px);
    min-width: calc(30% - 0px);
  }
  .teeny-g .row .col-xs-40 {
    width: calc(40% - 0px);
    max-width: calc(40% - 0px);
    min-width: calc(40% - 0px);
  }
  .teeny-g .row .col-xs-50 {
    width: calc(50% - 0px);
    max-width: calc(50% - 0px);
    min-width: calc(50% - 0px);
  }
  .teeny-g .row .col-xs-60 {
    width: calc(60% - 0px);
    max-width: calc(60% - 0px);
    min-width: calc(60% - 0px);
  }
  .teeny-g .row .col-xs-70 {
    width: calc(70% - 0px);
    max-width: calc(70% - 0px);
    min-width: calc(70% - 0px);
  }
  .teeny-g .row .col-xs-80 {
    width: calc(80% - 0px);
    max-width: calc(80% - 0px);
    min-width: calc(80% - 0px);
  }
  .teeny-g .row .col-xs-90 {
    width: calc(90% - 0px);
    max-width: calc(90% - 0px);
    min-width: calc(90% - 0px);
  }
  .teeny-g .row .col-xs-100 {
    width: calc(100% - 0px);
    max-width: calc(100% - 0px);
    min-width: calc(100% - 0px);
  }
}
/**NAV**/
.teeny-g .nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.teeny-g .nav li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0px;
  min-height: 0px;
  padding: 0px 3px;
}
.teeny-g .nav li a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
